@charset "utf-8";

section {
    margin-top: 80px;
    text-align: center;
}

.main {
    height: 250px;
    width: 100%;
    background: url(../img/menu-main.png) no-repeat;
    position: relative;
    background-size: 100% auto;
    position: relative;
}

.mtxt {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.mtxt h2 {
    color: #d3313a;
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.mtxt > p {
    font-size: 14px;
}

.cmenu {
    width: 100%;
    margin: 0 auto;
}

.cmenu .cmenu-b {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    z-index: 5;
}

.top-menu {
    width: 100%;
}

.top-menu:after {
    display: block;
    clear: both;
    content: "";
}

.top-menu li {
    float: left;
    width: 33.33%;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    transition: 0.5s;
}

.top-menu li > a {
    color: #333;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
}


li.selM {
    background-color: rgba(211, 49, 58, 0.8);
    border-right: 0;
}

li.selM a {
    color: #fff;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.viewer {
    width: 400%;
    height: 100%;
    position: relative;
    left: 0;
}

.viewer li {
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
}

.viewer li img {
    display: block;
    width: 100%;
    float: left;
}

.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.abtn img {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(110%) contrast(101%);
}

.btnL {
    left: 10px;
}

.btnR {
    right: 10px;
}

/**********menu1*************/
.menu1 {
    width: 90%;
    margin: 100px auto 200px;
}

.mwrap {
    width: 100%;
}

.mwrap:after {
    content: "";
    display: block;
    clear: both;
}

.mwrap li {
    float: left;
    width: 50%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333;
    position: relative;
}

.mwrap .tit {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    padding-bottom: 5px;
}

.mwrap .desc {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 100;
    color: #666;
}

.mwrap .menui {
    float: left;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.mwrap .menui > img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block;
}

.menui > .quick {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 35%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.quick span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    color: #000;
    font-weight: 200;
}

.mwrap .quick > img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(110%) contrast(101%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.mwrap li .menui:hover .quick {
    opacity: 1;
    background-color: rgba(211, 49, 58, 0.7);
    transition: all 0.5s;
}

.mwrap li .menui:hover .quick img {
    transition-delay: 0.2s;
    opacity: 1;
}

#tmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#tmodal .mcont {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 40%;
    position: absolute;
    border-radius: 40px 0 40px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tmodal .mcont > img {
    padding-left: 10px;
    float: left;
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#tmodal .righttxt {
    float: right;
    width: 50%;
    padding: 0 10px;
    text-align: center;
}

#tmodal .righttxt h2 {
    margin-top: 25%;
    font-size: 18px;
    font-size: 1.125rem;
    word-break: keep-all;
    color: #333;
}

#tmodal .righttxt .con {
    margin-top: 20%;
    color: #333;
    font-size: 14px;
    font-size: 0.875rem;
    word-break: keep-all;
}

#tmodal .righttxt .mdes {
    margin-top: 10%;
    font-size: 13px;
    color: #d3313a;
}

#tmodal .mdes .mspa {
    color: #333;
}

#tmodal .cbtn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../img/close-icon.png) no-repeat;
    background-size: 20px 20px;
}

#tmodal .cbtn > span {
    display: none;
}


/**********menu2*************/
.menu2 {
    width: 90%;
    margin: 0 auto;
    margin: 100px auto 200px;
    display: none;
}

.ctwrap {
    width: 100%;
}

.ctwrap:after {
    content: "";
    display: block;
    clear: both;
}

.ctwrap li {
    float: left;
    width: 50%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333;
    position: relative;
}

.ctwrap .tit {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    padding-bottom: 5px;
}

.ctwrap .desc {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 100;
    color: #666;
}

.ctwrap .menui {
    float: left;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.ctwrap .menui > img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block;
}

.ctwrap .quick > img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(110%) contrast(101%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.ctwrap li .menui:hover .quick {
    opacity: 1;
    background-color: rgba(211, 49, 58, 0.7);
    transition: all 0.5s;
}

.ctwrap li .menui:hover .quick img {
    transition-delay: 0.2s;
    opacity: 1;
}

#cmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#cmodal .mcont {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 40%;
    position: absolute;
    border-radius: 40px 0 40px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cmodal .mcont > img {
    padding-left: 10px;
    float: left;
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#cmodal .righttxt {
    float: right;
    width: 50%;
    padding: 0 10px;
    text-align: center;
}

#cmodal .righttxt h2 {
    margin-top: 25%;
    font-size: 18px;
    font-size: 1.125rem;
    word-break: keep-all;
    color: #333;
}

#cmodal .righttxt .con {
    margin-top: 35%;
    color: #333;
    font-size: 14px;
    font-size: 0.875rem;
    word-break: keep-all;
}

#cmodal .cbtn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../img/close-icon.png) no-repeat;
    background-size: 20px 20px;
}

#cmodal .cbtn > span {
    display: none;
}


/***********menu3***************/
.menu3 {
    width: 90%;
    margin: 0 auto;
    margin: 100px auto 200px;
    display: none;
}

.bwrap {
    width: 100%;
}

.bwrap:after {
    content: "";
    display: block;
    clear: both;
}

.bwrap li {
    float: left;
    width: 50%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333;
    position: relative;
}

.bwrap .tit {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    padding-bottom: 5px;
}

.bwrap .desc {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 100;
    color: #666;
}

.bwrap .menui {
    float: left;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.bwrap .menui > img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block;
}

.bwrap .quick > img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(110%) contrast(101%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.bwrap li .menui:hover .quick {
    opacity: 1;
    background-color: rgba(211, 49, 58, 0.7);
    transition: all 0.5s;
}

.bwrap li .menui:hover .quick img {
    transition-delay: 0.2s;
    opacity: 1;
}

#bmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}



#bmodal .mcont {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 40%;
    position: absolute;
    border-radius: 40px 0 40px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bmodal .mcont > img {
    padding-left: 10px;
    float: left;
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#bmodal .righttxt {
    float: right;
    width: 50%;
    padding: 0 10px;
    text-align: center;
}

#bmodal .righttxt h2 {
    margin-top: 25%;
    font-size: 18px;
    font-size: 1.125rem;
    word-break: keep-all;
    color: #333;
}

#bmodal .righttxt .con {
    margin-top: 40%;
    color: #333;
    font-size: 14px;
    font-size: 0.875rem;
    word-break: keep-all;
}

#bmodal .cbtn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../img/close-icon.png) no-repeat;
    background-size: 20px 20px;
}

#bmodal .cbtn > span {
    display: none;
}
