/*reset.css*/
@charset 'utf-8';

/* 웹폰트 CSS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* CSS 초기화 */
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

img {
    border: none;
}

.horiz {
    width: 20%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.m-divider {
    width: 5%;
    margin: 0 auto;
    margin-top: 100px;
    background: #d3313a;
    border-radius: 5px;
}

.txt-color {
    color: #d3313a;
}




/*폼태그 리셋*/
fieldset,
form,
label,
legend,
input,
select {
    /*    border:0;*/
    outline: 0;
    font-size: 100%;
    /*    vertical-align:baseline;*/
    background: transparent;
    display: block;


    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -moz-outline: none;
    -webkit-outline: none;
}

button {
    outline: 0;
    -moz-outline: none;
    -webkit-outline: none;
/*
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
*/
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
